include README.md
include LICENSE
include requirements.txt
recursive-include ckanext/superset *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/superset/migration *.ini *.py *.mako
