{% extends "page.html" %}

{% block primary_content %}
<section class="module">
    <div class="module-content">
        <h3>{{ _('Databases') }}</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ _('ID') }}</th>
                    <th>{{ _('Database name') }}</th>
                    <th>{{ _('Author') }}</th>
                    <th>{{ _('Updated') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for database in databases %}
                <tr>
                    <td>{{ database.id }}</td>
                    <td>{{ database.database_name }}</td>
                    <td>{{ database.created_by.first_name }}, {{ database.created_by.last_name }}</td>
                    <td>{{ database.changed_on }}</td>
                </tr>
                {% endfor %}
            </tbody>
    
        </table>
      </div>
</section>
{% endblock %}

{% block secondary_content %}

<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      {{ _('Apache Superset') }}
    </h2>
    <div class="module-content">
      <img src="{{ h.url_for_static('/base/images/apache-superset-logo.png') }}" alt="Apache Superset" style="max-width: 200px; display: block; margin: 0 auto;">
      <p>
        {{ _('Apache Superset is an open source data visualization tool that allows users to create interactive dashboards and visualizations.') }}
      </p>
      <p>
          <a href="{{ h.url_for('superset_blueprint.index') }}" class="btn btn-primary">
            {{ _('Charts') }}
          </a>
      </p>
    </div>
  </div>

{% endblock %}
