{% extends "page.html" %}

{% block primary_content %}

{% block superset_index_admin_top %}{% endblock %}

<section class="module">
    <div class="module-content">
        {% block superset_index_admin_module_1 %}
        <h2>Superset Dashboard</h2>
        <p>Superset instance: <a href="{{ superset_url }}" target="_blank">{{ superset_url }}</a></p>
        <p>Charts: {{ charts_count }}</p>
        {% endblock %}
    </div>

    {% block superset_index_admin_module_2 %}{% endblock %}

    <div class="module-content">
      <h3>Superset charts</h3>
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>{{ _('Chart ID') }}</th>
                  <!-- <th>{{ _('Image') }}</th> -->
                  <th>{{ _('Slice name') }}</th>
                  <th>{{ _('Info') }}</th>
                  <th>{{ _('Actions') }}</th>
              </tr>
          </thead>
          <tbody>
              {% for chart in charts %}
              <tr class="superset-index-tr {% if chart.ckan_dataset %}superset-index-tr-ckan{%endif%}">
                  <td>{{ chart.id }}</td>
                  {#
                  <td>
                    <img src="{{ h.url_for('superset_images.chart_image', chart_id=chart.id ) }}" alt="{{ chart.slice_name }}" style="max-width: 100px;">
                  </td>
                  #}
                  <td>{{ chart.slice_name if chart.slice_name else "" }}</td>
                  <td>
                    {% for tag in chart.tags %}
                    <br><span class="label label-default">Tag: {{ tag }}</span>
                    {% endfor %}
                    {% for dashboard in chart.dashboards %}
                      <br><span class="label label-default">Dash: {{ dashboard.dashboard_title }}</span>
                    {% endfor %}
                    {% if chart.description %}
                      <br>Description: {{ chart.description }}
                    {% endif %}
                  </td>
                  <td>
                    {% if chart.ckan_dataset %}
                    {% set pkg_name = chart.ckan_dataset.name %}
                    <a class="btn btn-secondary" href="{{ h.url_for('dataset.read', id=pkg_name) }}" target="_blank">View in CKAN</a>
                    <form action="{{ h.url_for('superset_blueprint.update_dataset', chart_id=chart.id) }}" method="POST">
                      <button type="submit" class="btn btn-primary">Re-sync CSV</button>
                    </form>
                    {% else %}
                      <a class="btn btn-primary" href="{{ h.url_for('superset_blueprint.create_dataset', chart_id=chart.id) }}">
                        Create new CKAN dataset
                      </a>
                    {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>

</section>
{% endblock %}

{% block secondary_content %}

<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      {{ _('Apache Superset') }}
    </h2>
    <div class="module-content">
      <img src="{{ h.url_for_static('/base/images/apache-superset-logo.png') }}" alt="Apache Superset" style="max-width: 200px; display: block; margin: 0 auto;">
      <p>
        Apache Superset es una herramienta de visualización de datos de código abierto que permite a los usuarios
        crear paneles de control y visualizaciones interactivas.
      </p>
      <p>
          <a href="{{ h.url_for('superset_blueprint.list_databases') }}" class="btn btn-primary">
            {{ _('Databases') }}
          </a>
      </p>

    <p>
        <a href="{{ h.url_for('superset_blueprint.list_datasets') }}" class="btn btn-primary">
          {{ _('Dataset') }}
        </a>
    </p>
    </div>
  </div>

{% endblock %}